/*
Gradientes
Un gradiente se forma mediante una serie de colores que varían continuamente con una 
transición suave de un color a otro. Los gradientes se crean como imágenes y se agregan al 
fondo del elemento con las propiedades background-image o background. Para crear la 
imagen con el gradiente, CSS ofrece las siguientes funciones: 
linear-gradient(posición, ángulo, colores)—Esta función crea un gradiente lineal. El 
atributo posición determina el lado o la esquina desde la cual comienza el gradiente y se 
declara con los valores top, bottom, left y right; el atributo ángulo define la dirección 
del gradiente y se puede declarar en las unidades deg (grados), grad (gradianes), rad
(radianes), o turn (espiras), y el atributo colores es la lista de colores que participan en el 
gradiente separados por coma. Los valores para el atributo colores pueden incluir un 
segundo valor en porcentaje separado por un espacio para indicar la posición donde 
finaliza el color.
radial-gradient(posición, forma, colores, extensión)—Esta función crea un 
gradiente radial. El atributo posición indica el origen del gradiente y se puede declarar en 
píxeles, en porcentaje, o por medio de la combinación de los valores center, top, 
bottom, left y right, el atributo forma determina la forma del gradiente y se declara 
con los valores circle y ellipse, el atributo colores es la lista de los colores que 
participan en el gradiente separados por coma, y el atributo extensión determina la forma 
que el gradiente va a adquirir con los valores closest-side, closest-corner, 
farthest-side, y farthest-corner. Los valores para el atributo colores pueden 
incluir un segundo valor en porcentaje separado por un espacio para indicar la posición 
donde finaliza el color. 
 Los gradientes se declaran como imágenes de fondo, por lo que podemos aplicarlos a un 
elemento por medio de las propiedades background-image o background, como lo 
hacemos en el siguiente ejemplo.
*/
header { 
    margin: 30px; 
    padding: 15px; 
    text-align: center; 
    border: 1px solid; 
    background: -webkit-linear-gradient(top, #FFFFFF, #666666); 
   } 
   #titulo { 
    font: bold 26px Verdana, sans-serif; 
   }
/*
 En el ejemplo anterior, usamos el valor top para determinar la posición inicial del 
gradiente, pero también podemos combinar dos valores para comenzar el gradiente desde 
una esquina del elemento, como en el siguiente ejemplo.
*/
/*
header { 
 margin: 30px; 
 padding: 15px; 
 text-align: center; 
 border: 1px solid; 
 background: -webkit-linear-gradient(top right, #FFFFFF, #666666); 
} 
#titulo { 
 font: bold 26px Verdana, sans-serif; 
}
*/
/*
 Cuando trabajamos con gradientes lineales, también podemos configurar la dirección con 
un ángulo en grados.*/
/*
header { 
 margin: 30px; 
 padding: 15px; 
 text-align: center; 
 border: 1px solid; 
 background: -webkit-linear-gradient(30deg, #FFFFFF, #666666); 
} 
#titulo { 
 font: bold 26px Verdana, sans-serif; 
}
*/
/*
Los gradientes anteriores se han creado con solo dos colores, pero podemos agregar más 
valores para generar un gradiente multicolor.
*/
/*
header { 
    margin: 30px; 
    padding: 15px; 
    text-align: center; 
    border: 1px solid; 
    background: -webkit-linear-gradient(top, #000000, #FFFFFF, #999999);
} 
#titulo { 
 font: bold 26px Verdana, sans-serif; 
}
*/
/*
Si usamos el valor transparent en lugar de un color, podemos hacer que el gradiente sea 
traslúcido y de esta manera se mezcle con el fondo (este efecto también se puede lograr con 
la función rgba() estudiada anteriormente). En el siguiente ejemplo, asignamos una imagen 
de fondo al elemento <body> para cambiar el fondo de la página y poder comprobar que 
logramos un gradiente translúcido.*/
/*
body { 
 background: url("ladrillosclaros.jpg"); 
} 
header { 
 margin: 30px; 
 padding: 15px; 
 text-align: center; 
 border: 1px solid; 
 background: -webkit-linear-gradient(top, transparent, #666666); 
} 
#titulo { 
 font: bold 26px Verdana, sans-serif; 
}
*/
/*
Los parámetros que definen los colores también pueden determinar el punto de comienzo 
y final de cada color incluyendo un valor adicional en porcentaje.*/
/*
header { 
    margin: 30px; 
    padding: 15px; 
    text-align: center; 
    border: 1px solid; 
    background: -webkit-linear-gradient(top, #FFFFFF 50%, #666666 90%); 
   }
   #titulo { 
    font: bold 26px Verdana, sans-serif; 
   }
*/
/*
Además de gradientes lineales, también podemos crear gradientes radiales. La sintaxis 
para gradientes radiales no difiere mucho de los gradientes lineales que acabamos de estudiar. 
La única diferencia es que tenemos que usar la función radial-gradient() en lugar de la 
función linear-gradient() e incluir un parámetro que determina la forma del gradiente 
con los valores circle o ellipse.*/
/*
header { 
 margin: 30px; 
 padding: 15px; 
 text-align: center; 
 border: 1px solid; 
 background: -webkit-radial-gradient(center, ellipse, #FFFFFF, 
#000000); 
} 
#titulo { 
 font: bold 26px Verdana, sans-serif; 
}
*/
/*
Excepto por la forma (círculo o elipse), el resto de esta función trabaja del mismo modo 
que linear-gradient(). La posición del gradiente se puede personalizar y podemos usar 
varios colores con un segundo valor para determinar los límites de cada uno de ellos.*/
/*
header { 
 margin: 30px; 
 padding: 15px; 
 text-align: center; 
 border: 1px solid; 
 background: -webkit-radial-gradient(30px 50px, ellipse, #FFFFFF 50%, 
#666666 70%, #999999 90%); 
}
#titulo { 
 font: bold 26px Verdana, sans-serif; 
}
*/


